<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style>
		body{font-size:13px;}
		li{list-style:none;float: left;margin: 0;padding: 0;}
		.fl{float: left;}
		.orderHistory{width: 795px;height: 76px;}
		.headerTitle{width: 795px;height: 30px;background-color: #7F7573; } 
		.titleLeft{color:white;float: left;line-height: 30px;}
		.headMain{height: 76px;width: 795px;margin-top: 20px ;margin-bottom: 20px;}
		a{text-decoration:none;color:#3366B2}
		a:hover,a:active,a:focus{color:#3366B2}
		
		
	</style>
</head>
<body>
	<div class='orderHistory'>
			<div class='headerTitle'>
				<div class='titleLeft'>退换货订单</div>
			</div>
			<div class='headMain'>
				<span>当前没有相关订单，如需申请退换货，请
					<a href="">点击这里</a>
				</span>
			</div>
	</div>	
</body>
</html>